<div class="d-flex flex-column min-vh-100">
  <%= render "layouts/navbar" %>

  <div class="container mt-3">
    <h1>New Battle</h1>
  </div>
  <div class="container">
    <% flash.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Warning </strong><%= message[1] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
  <div class="container my-auto d-flex flex-column">
    <%= render "form", pokemon_battle: @pokemon_battle %>
  </div>

  <%= render "layouts/footer" %>
</div>
