<div class="d-flex flex-column min-vh-100">
  <%= render "layouts/navbar" %>

  <div class="container mt-3">
    <h1>Edit Pokemon: <%= @pokemon.name %></h1>
    <%= render "form", pokemon: @pokemon %>
  </div>

  <%= render "layouts/footer" %>
</div>
