<footer class="mt-auto border-top">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <%= image_tag("pokemon-logo.png", alt: "Pokemon Logo", class: "d-inline-block align-text-top", size: "50x24") %>
      </a>
      <span class="text-muted">- Developed by Krisna.WAR</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("twitter.svg", size: "24") %></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("instagram.svg", size: "24") %></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><%= image_tag("facebook.svg", size: "24") %></a></li>
    </ul>
  </div>
</footer>
